@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #233D4D;
    --secondary-color: #FCCA46;
    --acent1-color: #FE8534;
    --acent2-color: #A1C181;

    --heading-font: 'roboto condensed', serif;
    --paragraph-font: 'roboto flex', serif;
    --nav-background-color: #233D4D;
    --nav-link-color: #FCCA46;
    --nav-hover-link-color: #A1C181;
    --nav-hover-background-color: #FE8534;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 25px;
}

h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
    text-align: center;
  }
  .sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
  }
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }